* {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #E8ECF3;
}
.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-bottom: 100px;
}

.header {
    margin: 40px 0px;
    font-size: 42px;
    color: white;
    text-shadow: 3px 2px black;
}